/* Book Cover Font */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
/* font-family: "Cinzel", serif; */

/* 8 Bit Font */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* font-family: 'Press Start 2P', cursive; */

/* Cursive Font */
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
/* font-family: 'Tangerine', cursive; */

/* Type Writer Font */
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
/* font-family: 'Special Elite', cursive; */

/* ///////////////////////////HOME PAGE ITEMS////////////////////////////// */
#root {
  max-height: 100vh;
}
.heading-text {
  text-align: center;
  color: rgb(247, 227, 8);
  font-family: "Cinzel", serif;
}
.h2-title-text {
  font-family: "Tangerine", cursive;
  font-size: 60px;
  margin: -5px;
  color: rgb(255, 255, 255);
}
.h3-title-text {
  font-family: "Tangerine", cursive;
  font-size: 40px;
  margin: 2px;
  color: rgb(224, 228, 223);
}
.candle {
  margin: 70px;
  height: 450px;
}
.simple-button {
  box-shadow: 4px 4px 12px 0px #899599;
  background-color: transparent;
  border: 2px solid #a4edb5;
  cursor: grab;
  color: #ffffff;
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
  padding: 19px 25px;
  text-decoration: none;
}
.simple-button:hover {
  background-color: rgba(255, 255, 255, 0.597);
}

/* ///////////////////////////INIT CANVAS DISPLAY////////////////////////////// */
/* .canvas-one {
  background-color: rgba(255, 0, 0, 0.357);
  height: 600px;
} */

/* ///////////////////////////GAME PLAY PAGES////////////////////////////// */
/* Main Start Page Container*/
.startPg-container {
  display: grid;
  max-height: 100vh;
}
/* Story Display*/
.story-text {
  text-align: center;
  font-size: 3vh;
  color: white;
  font-family: "Special Elite", cursive;
  width: 100%;
}
.paragraph {
  /* padding: 0 140px 0 140px; */
  white-space: pre-line;
  max-width: 100vw;
}
/* Canvas Display*/
.start-canvas {
  background: url("./backgrounds/START.jpeg") no-repeat center fixed;
  width: 100%;
  height: 80vh;
  background-size: 100% 100%;
}
.adventure-button {
  white-space: pre-line;
  /* width: 100px; */
}
